<template lang="pug">
  .modal.is-active
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title
          |جزئیات ثبت نام {{this.user[0]}}
        button(class="delete", aria-label="close", @click="$emit('close')")
      section.modal-card-body
        table(v-if="this.user[3] === true", class="table is-hoverable is-fullwidth")
          thead
            tr
              th
                | نام کاربری
              th
                |کدملی
              th
                |تلفن

          tbody
            tr
              td
                |  {{this.user[0] | capitalize(this.user[0])}}
              td
                |  {{this.user[1]}}
              td(class="ltr")
                |  {{this.user[2] | phoneFormat(this.user[2])}}
        p(v-else)
          | این کاربر غیر فعال می باشد
      footer.modal-card-foot
        button(class="button is-success", @click="$emit('close')")
          |تایید

</template>

<script>
export default {
  name: 'ModalList',
  filters: {
    capitalize(value) {
      return value.toUpperCase();
    },
    phoneFormat(value) {
      return `+98 ${value.slice(1, 4)} ${value.slice(4, 7)} ${value.slice(7, 11)}`;
    },
  },
  props: {
    user: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      aaa: '',
    };
  },
  methods: {
  },
};
</script>

<style scoped>
.ltr {
  direction: ltr;
  text-align: right;
}
</style>
