<template lang="pug">
  footer.footer
    .content.has-text-centered
      p
        |   قدرت گرفته از
        a(href='https://bulma.io')  Bulma
        | ،
        |  این پروژه از پروانه ام‌آی‌تی
        a(href='https://opensource.org/licenses/MIT') MIT
        |  استفاده می نماید

</template>

<script>
import MainMenu from './MainMenu.vue';

export default {
  name: 'Header',
  components: {
    MainMenu,
  },
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>

<style>

</style>
