<template lang="pug">
  header
    section.hero.is-light
      .hero-body
          .container
          h1.title
              | اعتبارسنجی کاربران
          h2.subtitle
              | ثبت نام / نمایش
          time
            |{{dateTimeFormat}}

    <MainMenu/>
</template>

<script>
import MainMenu from './MainMenu.vue';

export default {
  name: 'Header',
  components: {
    MainMenu,
  },
  data() {
    return {
      dateTimeFormat: '',
    };
  },
  beforeMount() {
    this.getDate();
  },
  methods: {
    getDate() {
      fetch('http://127.0.0.1:8084/')
        .then((response) => {
          if (response.status === 200) {
            return response.json();
          }
          if (response.status !== 200) {
            this.errorsBag.push('متاسفانه ارتباط برقرار نشد');
          }
          return false;
        })
        .then((data) => {
          const dateStandard = new Date(data.date);
          const dayFormat = new Intl.DateTimeFormat(
            'fa-ir',
            {
              day: 'numeric',
            },
          ).format(dateStandard);
          const monthFormat = new Intl.DateTimeFormat(
            'fa-ir',
            {
              month: 'long',
            },
          ).format(dateStandard);
          const weekdayFormat = new Intl.DateTimeFormat(
            'fa-ir',
            {
              weekday: 'long',
            },
          ).format(dateStandard);
          const yearFormat = new Intl.DateTimeFormat(
            'fa-ir',
            {
              year: 'numeric',
            },
          ).format(dateStandard);
          const timeFormat = new Intl.DateTimeFormat(
            'fa-ir',
            {
              hour: 'numeric',
              minute: 'numeric',
            },
          ).format(dateStandard);
          // this.dateTimeFormat = [weekdayFormat, dayFormat, monthFormat, yearFormat];
          this.dateTimeFormat = `${weekdayFormat} ${dayFormat} ${monthFormat} ${yearFormat} | ${timeFormat}`;
        })
        .catch(() => {
          this.errorsBag.push('متاسفانه ارتباط برقرار نشد');
        });
    },
  },
};
</script>

<style>
time {
  float: left;
}
</style>
