<template lang="pug">
  div.columns
    .column.is-two-thirds
      <Slider/>
    .column ستون  سمت چپ

</template>

<script>
import Slider from './Slider.vue';

export default {
  name: 'Main',
  components: {
    Slider,
  },
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>

<style>

</style>
