<template lang="pug">
    nav(class="navbar has-shadow is-dark",role="navigation",aria-label="main navigation")
      div.navbar-start
        <router-link class="navbar-item" to="/" exact> صفحه اصلی </router-link>
        <router-link class="navbar-item" to="/register" exact> ثبت نام </router-link>
        <router-link class="navbar-item" to="/list" exact> لیست کاربران </router-link>
</template>

<script>
export default {
  name: 'MainMenu',
  data() {
    return {
    };
  },
};
</script>

<style scoped>
.navbar-start {
margin-left: auto;
}
</style>
