<template lang="pug">
    div.column
      div.img-cnt
        img( :src="images[currentImages]")
      button(class="button", @click="next()")
        |<
      button.button(@click="previous()")
        |>

</template>

<script>

export default {
  name: 'Slider',
  data() {
    return {
      images: [
        'https://images.freeimages.com/images/large-previews/792/cones-from-a-pinetree-1639246.jpg',
        'https://images.freeimages.com/images/large-previews/343/view-of-the-sky-through-a-gap-in-the-rock-1639272.jpg',
        'https://images.freeimages.com/images/large-previews/9b0/old-solitude-1405244.jpg',
        'https://images.freeimages.com/images/large-previews/b2d/safe-crossing-1445098.jpg',
      ],
      currentImages: 0,
    };
  },
  methods: {
    next() {
      if (this.currentImages < this.images.length - 1) {
        this.currentImages += 1;
      } else {
        this.currentImages = 0;
      }
    },
    previous() {
      if (this.currentImages > 0) {
        this.currentImages -= 1;
      } else {
        this.currentImages = 3;
      }
    },
  },
};
</script>

<style scoped>
.img-cnt {
  height: 480px;
  overflow: hidden;
}
</style>
