<template lang="pug">
    <Main/>
</template>

<script>
import Main from './structure/Main.vue';

export default {
  name: 'Home',
  components: {
    Main,
  },
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>

<style>
</style>
