<template lang="pug">
  div.columns
    <ModalList v-if="showModal" @close="showModal = false" :user="UserDetails"/>
     .column
      table(class="table is-hoverable is-fullwidth", v-show="showTable")
        thead
          tr
            th
              | آیدی
            th
              | نام کاربری
            th
              |کدملی
            th
               |تلفن
            th
               div(class="control")
                button(@click="getUsersActive()",class="button is-success is-small")
                      |فعال
                button(@click="getUsersDeactivate()",class="button is-danger is-small")
                  |غیرفعال

        tbody
          tr(v-for='(item, index) in listUsers')
            td
              | {{ index + 1 }}
            td
              button(@click="UserDetails=[item.username, item.nationalID,\
               item.mobilePhone, item.active],showModal = true",
              class="button is-link is-outlined is-small")
                | {{ item.username }}
            td
              | {{ item.nationalID }}
            td
              |  {{ item.mobilePhone }}
            td
              |  {{ (item.active ? 'فعال' : 'غیرفعال') }}

      div(class="field is-grouped center")
        div(class="control")
            button(@click="getUsers()", class="button", id="resetForm")
                | دریافت اطلاعات
      div(class="field is-grouped center")

</template>

<script>
import ModalList from './listElements/ModalList.vue';

export default {
  name: 'List',
  components: {
    ModalList,
  },
  data() {
    return {
      listUsers: '',
      listUsersActive: '',
      listUsersDeactivate: '',
      showModal: false,
      showTable: false,
      UserDetails: '',
      errorsBag: [],
      dateTimeFormat: '',
    };
  },
  methods: {
    getUsers() {
      this.showTable = true;
      fetch('http://127.0.0.1:9000/user/list')
        .then((response) => {
          if (response.status === 200) {
            return response.json();
          } if (response.status !== 200) {
            this.errorsBag.push('متاسفانه ارتباط برقرار نشد');
          }
          return false;
        })
        .then((data) => {
          this.listUsers = data;
          this.listUsersActive = data;
          this.listUsersDeactivate = data;
        })
        .catch(() => {
          this.errorsBag.push('متاسفانه ارتباط برقرار نشد');
        });
    },
    getUsersActive() {
      if (this.listUsersActive) {
        this.listUsers = this.listUsersActive.filter((user) => user.active === true);
      }
    },
    getUsersDeactivate() {
      if (this.listUsersDeactivate) {
        this.listUsers = this.listUsersDeactivate.filter((user) => user.active === false);
      }
    },

  },
};
</script>

<style>
</style>
