<template lang="pug">
  div.columns
    .column
      <UserName ref="user" @get-data="getUsernameId" />
      <CodeId ref="id" @get-data="getCodeId"/>
      <PhoneNumber ref="tel" @get-data="getTelId"/>
      <Password ref="pass" @get-data="getPassId"/>
      <ConfirmPassword ref="cPass" @get-data="getCPassId" :passId="passId"/>
      <Active ref="active" @get-data="getActive"/>
      <ModalSubmit v-if="showModal" @close="showModal = false" :username="userNameModal"/>
      ul
        li(v-for='error in errorsBag')
            | {{ error }}

        div(class="field is-grouped center")
            div(class="control")
                button(@click="checkValidation()", class="button is-success",id="checkValidation")
                    |ثبت نام
                button(@click="resetForm()", class="button", id="resetForm")
                    | از نو
</template>

<script>
import UserName from './registerElements/UserName.vue';
import CodeId from './registerElements/CodeId.vue';
import PhoneNumber from './registerElements/PhoneNumber.vue';
import Password from './registerElements/Password.vue';
import ConfirmPassword from './registerElements/ConfirmPassword.vue';
import Active from './registerElements/Active.vue';
import ModalSubmit from './registerElements/ModalSubmit.vue';

export default {
  name: 'Register',
  components: {
    UserName,
    CodeId,
    PhoneNumber,
    Password,
    Active,
    ConfirmPassword,
    ModalSubmit,
  },
  data() {
    return {
      usernameId: '',
      codeId: '',
      telId: '',
      passId: '',
      cPassId: '',
      active: false,
      listUsers: '',
      showModal: false,
      userNameModal: '',
      errorsBag: [],
    };
  },
  methods: {
    getUsernameId(value) {
      this.usernameId = value;
    },
    getCodeId(value) {
      this.codeId = value;
    },
    getTelId(value) {
      this.telId = value;
    },
    getPassId(value) {
      this.passId = value;
    },
    getCPassId(value) {
      this.cPassId = value;
    },
    getActive(value) {
      this.active = value;
    },
    postUser(value) {
      const requestOptions = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(value),
      };
      fetch('http://127.0.0.1:9000/user/sign-up', requestOptions)
        .then((response) => {
          if (response.status === 200) {
            this.userNameModal = this.usernameId;
            this.showModal = true;
            this.resetForm();
          } else {
            this.errorsBag = [];
            this.errorsBag.push('متاسفانه ارتباط برقرار نشد');
          }
        })
        .catch(() => {
          this.errorsBag = [];
          this.errorsBag.push('متاسفانه ارتباط برقرار نشد');
        });
    },
    checkValidation() {
      if (this.$refs.user.chackUserName() && this.$refs.id.checkCode()
      && this.$refs.tel.checkTel() && this.$refs.pass.checkPass()
      && this.$refs.cPass.checkConfirmPass()
      ) {
        const user = {
          username: this.usernameId,
          password: this.passId,
          nationalID: this.codeId,
          mobilePhone: this.telId,
          active: this.active,
        };
        this.postUser(user);
      }
    },
    resetForm() {
      this.$refs.user.usernameId = '';
      this.$refs.user.errorsBag.splice(0, 1);
      this.$refs.user.errorsBag.push({ status: '', msg: '' });
      this.$refs.id.codeId = '';
      this.$refs.id.errorsBag.splice(0, 1);
      this.$refs.id.errorsBag.push({ status: '', msg: '' });
      this.$refs.tel.telId = '';
      this.$refs.tel.errorsBag.splice(0, 1);
      this.$refs.tel.errorsBag.push({ status: '', msg: '' });
      this.$refs.pass.passId = '';
      this.$refs.pass.errorsBag.splice(0, 1);
      this.$refs.pass.errorsBag.push({ status: '', msg: '' });
      this.$refs.cPass.cPassId = '';
      this.$refs.cPass.errorsBag.splice(0, 1);
      this.$refs.cPass.errorsBag.push({ status: '', msg: '' });
      this.$refs.active.active = false;
      this.errorsBag = [];
    },

  },
};
</script>

<style>
input,
button {
    font-family: "aasaam-Noto" !important;
}
</style>
