<template lang="pug">
  div(id="app",class="container")
    <Header/>
    <router-view />
    <Footer/>
 </template>
<script>
import Header from './components/structure/Header.vue';
import Footer from './components/structure/Footer.vue';

export default {
  name: 'App',
  components: {
    Header,
    Footer,
  },
  data() {
    return {
    };
  },
  methods: {

  },
};
</script>

<style>

</style>
