doctype html
html(lang="fa")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible',content='IE=edge')
        title  js
        meta(name='viewport',content='width=device-width, initial-scale=1')

    body
      div(id="app")