@charset "utf-8";

@import "../node_modules/bulma/bulma.sass";


@font-face {
    font-family: 'aasaam-Noto';
    src:
        url("fonts/aasaam-NotoSansArabicUI-Light.woff") format("woff"),
        url("fonts/aasaam-NotoSansArabicUI-Light.woff2") format("woff2"),
        url("fonts/aasaam-NotoSansArabicUI-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'aasaam-Noto';
    font-size: 14px;
    direction: rtl;
}


.field.center {
    justify-content: center !important;
    .control {
        button {
            margin-left: 12px;

        }
    }
}