<template lang="pug">
     div(class="field")
          label(class="checkbox")
              input(v-model="active", name="active",
               type="checkbox")
              |فعال
</template>

<script>
export default {
  name: 'Active',
  emits: ['get-data'],
  data() {
    return {
      active: false,
    };
  },
  watch: {
    active() {
      this.$emit('get-data', this.active);
    },
  },
  methods: {
  },
};
</script>

<style>

</style>
