<template lang="pug">
     div(class="field")
          label(class="label")
              |کدملی
          div(class="control")
              input(v-model="codeId", name="codeId",
               v-for="error in errorsBag" :class="[error['status'] !== ''  ? error['status'] : '']",
               class="input", type="text", placeholder="کدملی")
          p(v-for="error in errorsBag",
          class="help" :class="[error['status'] === 'is-danger' ? 'is-danger' : '']")
             | {{ error['msg'] }}
</template>

<script>
export default {
  name: 'CodeId',
  emits: ['get-data'],
  data() {
    return {
      codeId: '',
      errorsBag: [{ status: '', msg: '' }],
    };
  },
  watch: {
    codeId() {
      this.$emit('get-data', this.codeId);
    },
  },
  methods: {
    checkCode() {
      let validCode = false;
      let sum = 0;
      for (let i = 0; i < 9; i += 1) {
        sum += (this.codeId[i] * (this.codeId.length - i));
      }

      if (((sum % 11) >= 2 && (11 - (sum % 11)) === parseInt(this.codeId[9], 10)) || ((sum % 11) < 2
    && (sum % 11) === parseInt(this.codeId[9], 10))) {
        validCode = true;
      }
      if (this.codeId.length === 0) {
        this.errorsBag = [];
        this.errorsBag.push({ status: 'is-danger', msg: 'کد ملی نباید خالی باشد' });
        return false;
      }
      if (!validCode) {
        this.errorsBag = [];
        this.errorsBag.push({ status: 'is-danger', msg: 'کد ملی را بدرستی وارد نمایید' });
        return false;
      }
      this.errorsBag = [];
      this.errorsBag.push({ status: 'is-success', msg: '' });
      return true;
    },
  },
};
</script>

<style>

</style>
