<template lang="pug">
 div(class="field")
          label(class="label")
              |تکرار پسورد
          div(class="control")
              input(v-model="cPassId", name="cPassId",
              v-for="error in errorsBag" :class="[error['status'] !== ''  ? error['status'] : '']",
               class="input", type="password", placeholder="تکرار پسورد")
          p(v-for="error in errorsBag",
          class="help" :class="[error['status'] === 'is-danger' ? 'is-danger' : '']")
             | {{ error['msg'] }}
</template>

<script>
export default {
  name: 'ConfirmPassword',
  props: {
    passId: {
      type: String,
      required: true,
    },
  },
  emits: ['get-data'],
  data() {
    return {
      cPassId: '',
      errorsBag: [{ status: '', msg: '' }],
    };
  },
  watch: {
    cPassId() {
      this.$emit('get-data', this.cPassId);
    },
  },
  methods: {
    checkConfirmPass() {
      if (this.cPassId !== this.passId) {
        this.errorsBag = [];
        this.errorsBag.push({ status: 'is-danger', msg: 'پسورد همخوانی ندارد' });
        return false;
      }
      this.errorsBag = [];
      this.errorsBag.push({ status: 'is-success', msg: '' });
      return true;
    },
  },
};
</script>

<style>

</style>
