<template lang="pug">
  .modal.is-active
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title
          | ثبت نام
        button(class="delete", aria-label="close", @click="$emit('close')")
      section.modal-card-body
        p
          |{{this.username}} گرامی ثبت نام شما با موفقیت انجام شد
      footer.modal-card-foot
        button(class="button is-success", @click="$emit('close')")
          |تایید

</template>

<script>
export default {
  name: 'ModalSubmit',
  props: {
    username: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>

<style>
</style>
