<template lang="pug">
 div(class="field")
          label(class="label")
              |پسورد
          div(class="control")
              input(v-model="passId", name="passId",
               v-for="error in errorsBag" :class="[error['status'] !== ''  ? error['status'] : '']",
               class="input", type="password", placeholder="پسورد")
          p(v-for="error in errorsBag",
          class="help" :class="[error['status'] === 'is-danger' ? 'is-danger' : '']")
             | {{ error['msg'] }}

</template>

<script>
export default {
  name: 'Password',
  emits: ['get-data'],
  data() {
    return {
      passId: '',
      errorsBag: [{ status: '', msg: '' }],
    };
  },
  watch: {
    passId() {
      this.$emit('get-data', this.passId);
    },
  },
  methods: {
    checkPass() {
      const pPassword = /(?!^[0-9]*$)(?!^[a-z]*$)^([a-zA-Z0-9]{6,25})$/;
      if (this.passId.length === 0) {
        this.errorsBag = [];
        this.errorsBag.push({ status: 'is-danger', msg: 'پسورد نباید خالی باشد' });
        return false;
      }
      if (!(pPassword.test(this.passId))) {
        this.errorsBag = [];
        this.errorsBag.push({ status: 'is-danger', msg: 'پسورد باید بین ۶ الی ۲۵ کاراکتر و شامل حروف و اعداد باشد' });
        return false;
      }
      this.errorsBag = [];
      this.errorsBag.push({ status: 'is-success', msg: '' });
      return true;
    },
  },
};
</script>

<style>

</style>
