<template lang="pug">
      div(class="field")
          label(class="label")
              |تلفن
          div(class="control")
              input(v-model="telId", name="telId",
              v-for="error in errorsBag" :class="[error['status'] !== ''  ? error['status'] : '']",
               class="input", type="text", placeholder="تلفن")
          p(v-for="error in errorsBag",
          class="help" :class="[error['status'] === 'is-danger' ? 'is-danger' : '']")
             | {{ error['msg'] }}

</template>

<script>
export default {
  name: 'PhoneNumber',
  emits: ['get-data'],
  data() {
    return {
      telId: '',
      errorsBag: [{ status: '', msg: '' }],
    };
  },
  watch: {
    telId() {
      this.$emit('get-data', this.telId);
    },
  },
  methods: {
    checkTel() {
      const pNumber = /^\(?([0]{1})\)?([9]{1})?([0-9]{9})$/;
      if (this.telId.length === 0) {
        this.errorsBag = [];
        this.errorsBag.push({ status: 'is-danger', msg: 'تلفن نباید خالی باشد' });
        return false;
      }
      if (!(pNumber.test(this.telId))) {
        this.errorsBag = [];
        this.errorsBag.push({ status: 'is-danger', msg: 'تلفن را بدرستی وارد نمایید' });
        return false;
      }
      this.errorsBag = [];
      this.errorsBag.push({ status: 'is-success', msg: '' });
      return true;
    },
  },
};
</script>

<style>

</style>
