<template lang="pug">
      div(class="field")
          label(class="label")
              |نام کاربری
          div(class="control")
              input(v-model="usernameId", name="usernameId",
              v-for="error in errorsBag" :class="[error['status'] !== ''  ? error['status'] : '']",
              class="input", type="text", placeholder="نام کاربری")
          p(v-for="error in errorsBag",
          class="help" :class="[error['status'] === 'is-danger' ? 'is-danger' : '']")
             | {{ error['msg'] }}

</template>

<script>
export default {
  name: 'UserName',
  emits: ['get-data'],
  data() {
    return {
      usernameId: '',
      errorsBag: [{ status: '', msg: '' }],
    };
  },
  watch: {
    usernameId() {
      this.$emit('get-data', this.usernameId);
    },
  },
  methods: {
    chackUserName() {
      const pUserName = /^(?![_.])(?![0-9])[a-z0-9]{5,25}$/;
      if (this.usernameId.length === 0) {
        this.errorsBag = [];
        this.errorsBag.push({ status: 'is-danger', msg: 'نام کاربری نباید خالی باشد' });
        return false;
      }
      if (!(pUserName.test(this.usernameId))) {
        this.errorsBag = [];
        this.errorsBag.push({ status: 'is-danger', msg: 'نام کاربری باید بین ۵ تا ۲۵ کاراکتر و شامل حروف  کوچک و اعداد باشد' });
        return false;
      }
      this.errorsBag = [];
      this.errorsBag.push({ status: 'is-success', msg: '' });
      return true;
    },

  },
};
</script>

<style>

</style>
